@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@font-face {
    font-family: avenir;
    src: url("./components/avenir_ff/AvenirLTStd-Book.otf") format("opentype");
}

.AddProduct {
    /* background: chartreuse; */
    margin: 73px auto 20px;
    width: 1157px;
}
.AddProduct h4{
    font-weight: 800;
    font-size: 36px;
    font-family: 'Abhaya Libre', serif;
    margin-left: 25px;
    margin-bottom: 26px;
}
.AddProduct input, label{
    height: 50px;
    margin-bottom: 27px;
}
.AddProduct input{
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #766C6C;
    box-sizing: border-box;
    border-radius: 5px;
    color: #1F1F1F;
    font-family: avenir;
    padding-left: 10px;
}
.AddProduct .inputName {
    width: 927px;
}
.AddProduct .inputFile {
    position: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 14px;
    text-align: center;
    padding: 10px 10px 12px 10px;
    border: 2px solid #766C6C;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgba(210, 210, 210, 0.25);
    font-size: 18px;
    color: #1F1F1F;
    font-family: avenir;
    margin-top: 400;
}
.inputFile img {
    margin-left: 62px;
}
.AddProduct .inputPrice {
    width: 1157px;
}
.AddProduct .btnSave {
    width: 260px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background: #433434;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 900px;
}