/*/////////////Font//////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Main*/
.Header {
    background: #FFC700;
    height: 558px;
    margin-bottom: 0;
}

/*Nav*/
.icon {
    padding-left: 65px;
    /* padding-top: 22px; */
}
nav {
    padding-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFC700;
    height: 91px;
}
.Header-btn {
    width: 100px;
    height: 30px;
    background: #433434;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-right: 16px;
    cursor: pointer;
}
.buttons {
    display: flex;
    align-items: center;
    margin-right: 49px;
}
.buttons .avatar {
    width: 60px;
    height: 60px;
    border: 2px solid #433434;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 23px;
}
.modal-header {
    border-bottom: 0 none;
    padding: 0;
}
.modal-body {
    padding: 0;
}
.modal-footer {
    border-top: 0 none;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #B1B1B1;
    margin-top: 7px;
    margin-bottom: 21px;
}
.modal-title {
    color: #FFC700;
    height: 49px;
    margin: 41px auto 12px 75px;
}
.login-form {
    display: flex;
    flex-direction: column;
}
/* .modal-body form input, button, select {
    width: 350px;
    height: 50px;
    margin: auto;
} */
.modal-body form input, select{
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 18px; 
}
.modal-body form select{
    color: #7c7b7b;
    margin-bottom: 29px;
}
.modal-body form button{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background: #433434;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.modal-body form button:hover{
    color: #433434;
    background: #FFFFFF;
    border: 1px solid #433434;
}
/*////Head////*/
.head {
    width: 966px;
    height: 393px;
    margin: 63px auto 0;
    display: flex;
}
.head-txt {
    width: 558px;
    /* display: flex;
    flex-direction: column; */
}
.head-txt h3{
    font-weight: 800;
    font-size: 55px;
    color: #433434;
    font-family: 'Abhaya Libre', serif;
    margin-bottom: 10px;
    margin-top: 0;
}
.head-txt .ask{
    margin-top: 55px;
}
.head-txt div{
    display: flex;
}
.head-txt div .rectangle-head{
    width: 150px;
    height: 3px;
    background: #433434;
    margin-top: 27px;
}
.head-txt div .detail-head{
    width: 274px;
    height: 76px;
    color: #000000;
    margin-top: 18px;
    margin-left: 26px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
}
#dropdown-basic::after{
    display: none; 
}
.dropdownItem{
    width: 230px;
    height: 60px;
    display: flex;
    align-items: center;
}
.dropdownItem:hover{
    background: #FFFFFF;
}
.dropdownPict{
    height: 40px;
    width: 40px;
    margin-left: 20px;
}
.dropdownText{
    font-size: 24px;
    font-weight: 600;
    margin-left: 15px;
    line-height: 33px;
    color: #000000;
}